html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.mb-1 {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fb-blue {
  color: #385898;
}

.twitter-blue {
  color: #1da1f2;
}

.green {
  color: #2bbd7e;
}

.sns {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px;
}

.sns li {
  padding: 0 8px;
}

.sns li:first-child {
  border-right: 1px solid gray;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  padding: 16px;
}

.menu li:hover {
  border-bottom: 3px solid #2bbd7e;
}

.menu li a {
  color: #2bbd7e;
}

.banner {
  position: relative;
}

.banner-text {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 48px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}

.banner-text p {
  padding: 36px;
  line-height: 60px;
}

.container {
  padding: 60px 0;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course .course-box {
  width: 380px;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course .course-box img {
  height: 100px;
}

.course .course-box h2 {
  font-size: 20px;
  padding-top: 8px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.course .course-box p {
  padding: 0 20px 20px 20px;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 48px;
}

.table-title {
  font-size: 28px;
}

.table-content {
  width: 100%;
}

.table-content {
  margin-top: 16px;
  margin-bottom: 60px;
}

.table-content th {
  padding: 12px 8px;
  text-align: left;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.table-content tr {
  border-bottom: 1px solid #ccc;
}

.table-content td {
  padding: 8px;
  line-height: 30px;
}

.form-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#206547), to(#2ba26f));
  background: linear-gradient(180deg, #206547 0%, #2ba26f 100%);
}

.form-container .form-title {
  padding: 30px 0;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  color: white;
}

.form-container .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.form-container .form-box .form-content {
  width: 50%;
}

.form-container .form-box .form-content .textarea {
  width: 500px;
  height: 300px;
  border-radius: 6px;
  border: none;
}

.form-container .form-box .form-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container .form-box .form-info label {
  color: #ffffff;
  margin-bottom: 8px;
}

.form-container .form-box .form-info input {
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: none;
}

.form-container .form-box .form-info .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-container .form-box .form-info .form-btn .btn {
  background: #2bbd7e;
  margin-top: 16px;
  padding: 8px 20px;
  color: #ffffff;
  border-radius: 2px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.footer .contact span {
  color: pink;
}
